@use '../abstracts/variables' as v;


header{
  padding: 30px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
   #menu-main-menu{
    display: flex;
    gap: 50px;
    ul,li{
      list-style: none;
      a{
        color: #fff;
        transition: .3s;
        &.active{
          color:#09f;
        }
      }
    }
   }

   z-index: 10;

}


#hero{
  min-height: 100vh;
  background: url(https://plus.unsplash.com/premium_photo-1686729237226-0f2edb1e8970?q=80&w=2767&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
  background-size: auto 100%;
  .wrap{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    h1{
      max-width: 800px;
      padding: 80px 0;
      text-align: center;
    }
    .btn{
      background: #fff;
      border-radius:15px;
      display: inline-block;
      padding: 20px;
      text-decoration: none;
      color:#000;
      position: relative;
      overflow: hidden;
      opacity: 0;
      span{
        opacity: 0;
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        transition: opacity .3s ease;
        background: #fff;
          padding: 20px;
          text-align: center;
      }
      &:hover{
        span{
            opacity: 1;
        }
      }
    }
  }
}


  #slider-1,#slider-2{
    min-height: 100vh;

    .swiper-slide{
        min-height: 100vh;
    }

 

  }