@use 'sass:color';

$md: 1024px;
$sm: 768px;
$xs: 480px;

$w: 1440px;

$bg: #fff;
$hover-color: rgb(21, 14, 232);;
$fontColor: #333;
$fontColor2: rgb(21, 14, 232);

$hover: color.adjust($hover-color, $lightness: 20%);
$hover2: color.adjust($hover-color, $lightness: -20%);

$font-base: 16px;
$mainFont: 'Roboto', system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
